.Login {
    padding: 5%;
}

.Login > form > label,
.Login > form > input {
    width: 100%;
    box-sizing: border-box;
}

.Login .button-section {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 20px auto;
}

.Login .warning {
    color: var(--Red);
}