.Header {
	height: 100%;
    width: 60%;
    padding: 2%;
    display: grid;
    align-content: center;
    text-align: left;
    
}

.Header h1 {
    font-size: max(2.8vw, 1.7em);
    color: var(--Black);
    font-family: var(--font600);
    text-shadow: 5px 5px var(--Light);
}

.Header h1 > span {
    font-family: var(--font600);
    font-size: max(0.6vw, 0.6em);
    font-weight: 100;
}

