.MainBoard {
    padding: 2%;
    height: 100vh;
}

.MainBoard > .new-todo {
    text-align: left;
}

.MainBoard > .new-todo > .add-btn {
    cursor: pointer;
}

.board {
    background-color: var(--Light);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.box {
    border: 1px solid var(--Black);
    overflow: hidden;
}

.todos {
    overflow-y: auto;
    height: calc(100% - 28pt);
    cursor: cell;
}
