.MainBoard {
    padding: 2%;
    height: 100vh;
}

.MainBoard > .new-todo {
    display: flex;
    align-items: center;
}

.MainBoard > .new-todo > .add-btn {
    border: 3px solid var(--Teal);
    background-color: var(--Teal);
    border-radius: 25vh;
    cursor: pointer;
    font-size: 2em;
}

.board {
    background-color: var(--Light);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.box {
    border: 5px solid var(--Light);
    background-color: var(--White);
    overflow: hidden;
    border-radius: 25px;
}

.todos {
    overflow-y: auto;
    height: calc(100% - 28pt);
}
