.TodoCard {
    width: 50%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 15px;
    cursor: grab;
}

.TodoCard > .title,
.TodoCard > .content {
    text-align: left;
}

.TodoCard.pending {
    background-image: linear-gradient(135deg, var(--Purple), var(--GradPurple));
}

.TodoCard.progress {
    background-image: linear-gradient(135deg, var(--Orange), var(--GradOrange));
}

.TodoCard.waiting {
    background-image: linear-gradient(135deg, var(--Teal), var(--GradTeal));
}

.TodoCard.completed {
    background-image: linear-gradient(135deg, var(--Green), var(--GradGreen));
}

.control-btn {
    cursor: default;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.save-icon,
.delete-icon {
    cursor: pointer;
}

.TodoCard textarea {
    resize: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

.TodoCard .content {
    padding: 2%;
}

.TodoCard .title {
    font-size: 1.1em;
    font-weight: bold;
}

.TodoCard .username-paragraph:hover {
    cursor: pointer;
}