.Register {
    padding: 5%;
}

.Register > form > label,
.Register > form > input {
    width: 100%;
    box-sizing: border-box;
}

.Register .button-section {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 20px auto;
}